{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}" type="text/css">
</head>

<body>
    <div class="v49_10">
        <div class="v50_53">

        </div>
        <span class="v50_54">
            Назад
        </span>
        <div class="v50_55">

        </div>
        <div class="v50_56">

        </div>
        <span class="v50_57">
            0 кэшбаллов
        </span>
        <div class="v49_11">

        </div>
        <span class="v50_12">
            Оплата обучения
        </span>
        <span class="v50_13">
            6 950₽
        </span>
        <span class="v50_14">
            10 950 ₽
        </span>
        <span class="v50_15">
            50 кэшбаллов
        </span>
        <div class="v50_16">

        </div>
        <div class="v50_17">

        </div>
        <span class="v50_18">
            Сразу
        </span>
        <span class="v50_19">
            В рассрочку
        </span>
        <span class="v50_20">
            В кредит
        </span>
        <span class="v50_21">
            500 ₽ вы сэкономите, если оплатите весь курс сразу, чем каждый месяц. Если решите уйти раньше - вернем деньги за непройденную часть.
        </span>
        <div class="v50_22">
            <div class="v50_23">

            </div>
            <span class="v50_24">
                + </span>
        </div>
        <span class="v50_26">
            У меня есть промокод
        </span>
        <span class="v50_27">
            ВАШИ ДАННЫЕ
        </span>
        <div class="v50_28">
            <div class="v50_29">

            </div>
            <span class="v50_30">
                Имя *
            </span>
        </div>
        <div class="v50_31">
            <div class="v50_32">

            </div>
            <span class="v50_33">
                Контактный телефон *
            </span>
            <span class="v50_34">
                +79819460991
            </span>
        </div>
        <div class="v50_35">
            <div class="v50_36">

            </div>
            <span class="v50_37">
                Почта *
            </span>
            <span class="v50_38">
                mdashabanov@yandex.ru
            </span>
        </div>
        <div class="v50_39">
            <div class="v50_40">

            </div>
            <span class="v50_41">
                Дата начала обучения *
            </span>
            <span class="v50_42">
                13.07.2022
            </span>
        </div>
        <span class="v50_43">
            На эту дату осталось несколько мест. Поторопитесь!
        </span>
        <div class="v50_44">

        </div>
        <span class="v50_45">
            Это поле обязательно
        </span>
        <span class="v50_46">
            Принимаю условия “Пользовательского соглашения”
        </span>
        <div class="v50_47">
            <div class="v50_48">

            </div>
            <div class="v50_49">

            </div>
        </div>
        <div class="v50_50">
            <div class="v50_51">

            </div>
            <span class="v50_52">
                Оплатить
            </span>
        </div>
        <div class="v50_406">

        </div>
    </div>
</body>
</html>