<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}" type="text/css">
</head>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="profile-page">
<div class="main-menu">
    <a class="courseburg-url" href="https://courseburg.ru/">CourseBurg</a>
    <div class="right-submenu">
         <a href="/profile" class="profile">
             <img src="{% static 'img/profile.png' %}" alt="logo" style=" width: 33px;">
         </a>
        <div class="cashback">
            0 кэшбаллов
        </div>
    </div>
   </div>
<div class="main-info">
    <div class="left-sidebar">
        <div class="points">
            <div class="point-main">
                <a class="sidebar-main" href="/">
                    <img src="{% static 'img/choose_main_gray.png' %}" alt="logo" style="margin-right:15px;" >
                    Главная
                </a>
            </div>
            <div class="sidebar-point">
                <a class="sidebar-profile" href="/profile">
                    <img src="{% static 'img/choose_profile_color.png' %}" alt="logo"  style="margin-right:15px;">
                    Профиль
                </a>
            </div>
        </div>
    </div>
    <div class="main-profile">

        <form method="post">
                       {% csrf_token %}
            <div class="main-personal-data">
                <div class="sub-personal-data">
                    <p class="personal-info">
                        Страница изменения пароля
                    </p>

                </div>
                <div class="data-info">
                    <div class="username">
                         <span class="phone_number">
                            Введите ваш старый пароль
                        </span>
                        <p class="username">
                          {{ change_form.old_password }}
                        </p>
                    </div>
                    <div class="email">
                         <span class="phone_number">
                            Новый пароль
                            </span>
                        <p class="username">
                              {{ change_form.new_password1 }}
                        </p>
                    </div>
                    <div class="email">
                         <span class="phone_number">
                            Повторите пароль
                        </span>
                        <p class="username">
                                {{ change_form.new_password2 }}
                        </p>
                    </div>
                </div>

        <div style="margin-top: 35px; display: flex; justify-content: end; ">
                    <form class="change-password" action="/" target="_blank" style="background: #FFECE5;">
                        <button class="change-password" style="color:#FF3D00;background: #FFECE5;margin-right: 10px;
    width: 160.09px;
">Забыли пароль?</button>
                    </form>
                        <button class="logout" type="submit" style="color: #00ADF0;background: rgba(0, 173, 240, 0.1);margin-right: 10px;
    width: 160.09px;
">Сохранить пароль</button>

                </div> </div>
            </form>
    </div>
</div>
</body>
</html>