body {
  font-size: 14px;
  font-family: 'Roboto';
}
 html{
  height:100%;
  width:100%;
}
html *{
  margin:0;
  padding:0;
}
body{
  width:100%;
  height:100%;
  display:block;

}
a {
    color: black;
    text-decoration: none;
}
@media (min-width: 966px) and (max-width: 4400px) {
    .main_register_page {
        width: 100%;
        height: 720px;
        background: rgba(247,247,250,1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
    .register_form {
        width: 429px;
        height: 586px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.10000000149011612);
        overflow: hidden;
    }
    .register_form_sub {
        margin:40px;
    }
}
@media (min-width: 166px) and (max-width: 900px) {
     .main_register_page {
        width: 100%;
    }
    .register_form {
        overflow: hidden;
    }
    .register_form_sub {
        margin:20px;
    }
}



a.back_button {
    font-weight: 400;
    font-size: 14px;
    display: contents;
    color: black;
    text-decoration: none;
}
h1.registration_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
p.your_data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #7F7F7F;
}
.phone_number {
  margin-bottom: 10px;
  width: 369px;
  height: 52px;
  background: rgba(245,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.password1 {
  margin-bottom: 10px;
  width: 369px;
  height: 52px;
  background: rgba(245,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.password2 {
  margin-bottom: 10px;
  width: 369px;
  height: 52px;
  background: rgba(245,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
span.phone_number {
  width: 354px;
  margin-left: 10px;
  color: rgba(127,127,127,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
span.id_password1 {
  width: 354px;
  margin-left: 10px;
  color: rgba(127,127,127,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
span.id_password2 {
  width: 354px;
  margin-left: 10px;
  color: rgba(127,127,127,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
input#id_password1 {
  background: rgba(245,244,246,1);
  margin-left: 10px;
  border: none;
  width: 354px;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
input#id_password {
  background: rgba(245,244,246,1);
  margin-left: 10px;
  border: none;
  width: 354px;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
input#id_phone_number {
  background: rgba(245,244,246,1);
  margin-left: 10px;
  border: none;
  width: 354px;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
input#id_username {
  background: rgba(245,244,246,1);
  margin-left: 10px;
  border: none;
  width: 354px;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
input#id_email {
  background: rgba(245,244,246,1);
  margin-left: 10px;
  border: none;
  width: 354px;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
input#id_password2 {
  background: rgba(245,244,246,1);
  margin-left: 10px;
  border: none;
  width: 354px;
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
p.do_you_have_account{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #7F7F7F;
    margin-bottom: 50px;
}
p.help_text{
    font-size: 10px;
    color: #7F7F7F;
}
p.wrong{
    font-size: 10px;
    color: red;
}
a.do_you_have_account{
    color: #FF6B00;
    text-decoration: none;
}
.register_button{
    background: linear-gradient(90deg, #FF6B00 0%, #FFB600 100%);
    border-radius: 7px;
    border: none;
    width: 369px;
    height: 53px;
    font-weight: 600;
    color: white;
    font-size: 20px;
}
div.licence{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #7F7F7F;
    margin-bottom: 10px;
}
a.licence{
    font-weight: 700;
    color: #7F7F7F;
    text-decoration: none;
}
/*Profile page*/
body.profile-page{
    background: #F5F5F5;
}

div.main-menu{
    width: 100%;
    background: white;
    height: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a.courseburg-url{
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-decoration:none;
    margin-left:20px;
    color: #000000;
}
div.right-submenu{
    float: left;
    margin-right:20px;
    display: flex;
}
a.profile{
    margin-top: auto;
    margin-right:20px;
    margin-bottom: auto;
}
div.cashback{
    width: 135px;
    background: linear-gradient(89.63deg, #FF6B00 0.32%, #FFB600 99.68%);
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    font-family: Roboto;
    font-weight: Medium;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}
div.main-info{
    margin-top: 20px;
    width:100%;
    display: flex;
    height:80%;
}
div.left-sidebar{
    width: 220px;
    background: white;
    height: 100%;
    border-radius: 10px;
}
div.points{
    display: grid;
    margin-top: 30px;
}
div.point-main{
    margin-bottom: 20px;
}
a.sidebar-main{
    color: #7F7F7F;
    text-decoration:none;
    margin-left:18px;
}
div.sidebar-point{
    border-left: 3px solid #FF6C00;
    display:flex;
    height:42px;
}
a.sidebar-profile{
    color: #FF6C00;
    text-decoration:none;
    margin-left:15px;
    margin-top: auto;
    margin-bottom: auto;
}
div.main-profile{
    height: 100%;
    border-radius: 10px;
    margin-left: 30px;
    margin-right:20px;
    width: 84%;
}
div.main-greetings{
    background: #FFFFFF;
    border-radius: 10px;
    display:flex;
}
div.sub-greetings{
    margin-top: 30px;
    padding-right: 540px;
}
p.main-greetings{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
p.sub-greetings{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}
div.main-personal-data{
    background: #FFFFFF;
    border-radius: 10px;
    margin-top:20px;
}
div.sub-personal-data{
    margin-top:15px;
    display:flex;
    justify-content: space-between;
}
p.personal-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 30px;
    margin-left: 30px;
}
div.save-change{
    margin-top: 30px;
    margin-right: 30px;
}
button.save{
    border: none;
    background: none;
    color:#77C04B;
}
a.change{
    text-decoration:none;
    color:#0087FF;
}
div.data-info{
    display:flex;
    margin-left: 30px;
    margin-bottom: 10px;
}
div.username{
    background: #F5F4F6;
    margin-right: 20px;
    width: 32%;
    border-radius: 7px;
}
p.username{
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

}
div.email{
    background: #F5F4F6;
    margin-right: 20px;
    width: 32%;
    border-radius: 7px;
}
p.category{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 30px;
    margin-left: 30px;
}
select.category{
    background: #F5F4F6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    color: #000000;
    margin-left: 30px;
    border-radius: 7px;
    border: none;
    width: 96%;
    height: 50px;
    margin-bottom: 10px;
}
button.change-password{
    background: rgba(0, 173, 240, 0.1);
    margin-left: 30px;
    margin-bottom:20px;
    border-radius: 7px;
    border: none;
    width: 20%;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #00ADF0;
}
button.logout{
    background: none;
    border-radius: 7px;
    margin-right: 30px;
    margin-bottom:20px;
    border: none;
    width: 10%;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FF3D00;
}
form.change-password{
    background: rgba(0, 173, 240, 0.1);
    margin-left: 30px;
    margin-bottom:20px;
    border-radius: 7px;
    border: none;
    width: 20%;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #00ADF0;
}
form.logout{
    background: rgba(255, 61, 0, 0.1);
    border-radius: 7px;
    margin-right: 30px;
    margin-bottom:20px;
    border: none;
    width: 10%;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FF3D00;
}