body {
  font-size: 14px;
}
.v49_10 {
  width: 100%;
  height: 720px;
  background: rgba(247,247,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v50_53 {
  width: 862px;
  height: 448px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 209px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v50_54 {
  width: 226px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 174px;
  left: 259px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v50_55 {
  width: 11px;
  background: url("../images/v50_55.png");
  opacity: 1;
  position: absolute;
  top: 182px;
  left: 251px;
  border: 1px solid rgba(0,0,0,1);
  transform: rotate(-179deg);
}
.v50_56 {
  width: 74px;
  height: 18px;
  background: linear-gradient(rgba(255,107,0,1), rgba(255,182,0,1));
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 967px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v50_57 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 173px;
  left: 967px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v49_11 {
  width: 100%;
  height: 67px;
  background: url("../images/v49_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v50_12 {
  width: 226px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 207px;
  left: 240px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v50_13 {
  width: 94px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 671px;
  font-family: Roboto;
  font-weight: SemiBold;
  opacity: 1;
  text-align: left;
}
.v50_14 {
  width: 94px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 207px;
  left: 745px;
  font-family: Roboto;
  font-weight: SemiBold;
  opacity: 1;
  text-align: left;
}
.v50_15 {
  width: 226px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 236px;
  left: 685px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v50_16 {
  width: 369px;
  height: 42px;
  background: rgba(245,244,246,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 672px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v50_17 {
  width: 118px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 677px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v50_18 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 272px;
  left: 677px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v50_19 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 272px;
  left: 798px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v50_20 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 272px;
  left: 919px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v50_21 {
  width: 369px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 320px;
  left: 672px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v50_22 {
  width: 10px;
  height: 10px;
  background: url("../images/v50_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 671px;
  overflow: hidden;
}
.v50_23 {
  width: 10px;
  height: 10px;
  background: linear-gradient(rgba(255,107,0,1), rgba(255,182,0,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v50_24 {
  width: 10px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Italic;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v50_26 {
  width: 369px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 412px;
  left: 668px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v50_27 {
  width: 369px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 246px;
  left: 240px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v50_28 {
  width: 369px;
  height: 52px;
  background: url("../images/v50_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 240px;
  overflow: hidden;
}
.v50_29 {
  width: 369px;
  height: 52px;
  background: rgba(255,236,230,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v50_30 {
  width: 354px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 0px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v50_31 {
  width: 369px;
  height: 52px;
  background: url("../images/v50_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 240px;
  overflow: hidden;
}
.v50_32 {
  width: 369px;
  height: 52px;
  background: rgba(245,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v50_33 {
  width: 354px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 8px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v50_34 {
  width: 354px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v50_35 {
  width: 369px;
  height: 52px;
  background: url("../images/v50_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 240px;
  overflow: hidden;
}
.v50_36 {
  width: 369px;
  height: 52px;
  background: rgba(245,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v50_37 {
  width: 354px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 8px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v50_38 {
  width: 354px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v50_39 {
  width: 369px;
  height: 52px;
  background: url("../images/v50_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 475px;
  left: 240px;
  overflow: hidden;
}
.v50_40 {
  width: 369px;
  height: 52px;
  background: rgba(245,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v50_41 {
  width: 354px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 8px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v50_42 {
  width: 354px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 15px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v50_43 {
  width: 354px;
  color: rgba(119,192,75,1);
  position: absolute;
  top: 530px;
  left: 240px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v50_44 {
  width: 16px;
  height: 16px;
  background: rgba(127,127,127,1);
  opacity: 1;
  position: absolute;
  top: 493px;
  left: 573px;
}
.v50_45 {
  width: 369px;
  color: rgba(255,109,0,1);
  position: absolute;
  top: 324px;
  left: 240px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v50_46 {
  width: 337px;
  color: rgba(127,127,127,1);
  position: absolute;
  top: 453px;
  left: 700px;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v50_47 {
  width: 18px;
  height: 18px;
  background: url("../images/v50_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 672px;
  overflow: hidden;
}
.v50_48 {
  width: 18px;
  height: 18px;
  background: url("../images/v50_48.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(127,127,127,1);
}
.v50_49 {
  width: 6px;
  height: 4px;
  background: url("../images/v50_49.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 6px;
  border: 2px solid rgba(127,127,127,1);
}
.v50_50 {
  width: 369px;
  height: 53px;
  background: url("../images/v50_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 488px;
  left: 668px;
  overflow: hidden;
}
.v50_51 {
  width: 369px;
  height: 53px;
  background: linear-gradient(rgba(255,107,0,1), rgba(255,182,0,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v50_52 {
  width: 369px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v50_406 {
  width: 100%;
  height: 69px;
  background: url("../images/v50_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 651px;
  left: 0px;
  overflow: hidden;
}